<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="ef65e059-b8b8-437f-b506-9072c2b652d9"
    Publisher="CN=9A3276B6-661B-463D-9598-EFFF0974120A"
    Version="2.1.13.0" />

  <mp:PhoneIdentity PhoneProductId="ef65e059-b8b8-437f-b506-9072c2b652d9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>NetworkSetup</DisplayName>
    <PublisherDisplayName>Shipwreck Software</PublisherDisplayName>
    <Logo>Assets\Icons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="NetworkSetup.App">
      <uap:VisualElements
        DisplayName="Network Setup and Control Utility"
        Square150x150Logo="Assets\Icons\Square150x150Logo.png"
        Square44x44Logo="Assets\Icons\Square44x44Logo.png"
        Description="Simple utility to control network settings. It&apos;s scriptable via customer networksetup: URLs."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Icons\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\Icons\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
			<uap:Protocol Name="networksetup" DesiredView="default">
				<uap:Logo>Assets\Icons\UrlIcon44x44.png</uap:Logo>
				<uap:DisplayName>Wi-Fi Setup</uap:DisplayName>
			</uap:Protocol>
		</uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer"/>
    <DeviceCapability Name="wiFiControl" />
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>